/*
 * Logan Boydstun Design Web Portfolio Stylesheet
 *
 *508562; 67CF8B; FA9265; 3482AD; 57BFFA
 */

* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px; /* Sets the font size to 16px */
	font-weight: 200; /* Sets the font weight to 300 */
	line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

h1,
h2,
h3,
h4 {
	line-height: 1.4;
}

h1 {
	font-size: 2.5em;
	font-weight: 400;
}

h2 {
	font-size: 2.25em;
	font-weight: 300;
}

h3 {
	font-size: 1.5em;
	font-weight: 200;
}

img {
	width: 100%;
}

li {
	font-size: 1em;
	font-weight: 300;
}

a {
	color: #000000;
	text-decoration: none; /* No underlining */
}

a:hover {
	color: #cc6540;
}

a:active {
	/* selected link */
	color: #000000;
}

.button {
	display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
	background-color: #fa9265;
	color: #ffffff; /* needed to override the default link color */
	font-weight: 400;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #994c30; /* width of the border, type, color */
	transition: 0.2s opacity;
	text-align: center;
	margin: 5px;
}
.button:hover {
	opacity: .8;
}
.emailbutton {
	display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
	background-color: #508562;
	color: #ffffff; /* needed to override the default link color */
	font-weight: 400;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #994c30; /* width of the border, type, color */
	transition: 0.2s opacity;
	margin-bottom: 10px;
	margin: auto;
}
.resumebutton {
	margin: auto;
	display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
	background-color: #508562;
	color: #ffffff; /* needed to override the default link color */
	font-weight: 400;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #994c30; /* width of the border, type, color */
	transition: 0.2s opacity;
	margin-bottom: 15px;
}
header {
	background-color: #ffffff;
	/* padding: 5px;
	margin: 2%; */
	padding: 10px 0 10px;
	padding-left: 5px;
	border: 3px solid #fa9265;
	position: fixed;
	width: 100%;
	box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.5);
}

main {
	padding-top: 56px;
}

selector {
	margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

#work {
	background-color: white;
}

#hero {
	background-color: #fa9265;
	padding: 10px 10px;
	display: inline-block;
	width: 100%;
	padding-top: 50px;
}

#contact {
	background-color: white;
}

/* Layout styling */

.buttonWrapper {
	text-align: center;
}

.logoWrapper img {
	max-width: 150px;
	vertical-align: middle;
}
.headercontainer {
	text-align: inherit;
}
.inktankimg {
	padding-top: 50px;
}

nav > ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav > ul > li > a {
	padding: 5px;
	text-transform: uppercase;
	font-weight: 600;
}

nav > ul > li > a:hover {
	color: #cc6540;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li  {
  display: block;
	padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
	padding-right: 10px;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.row {
	margin: 25px 0px; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
	text-align: center; /* Centers text */
}

h3 {
	text-align: center;
}
h2 {
	text-align: center;
}
p {
	text-align: center;
}

.animation {
	width: 100%;
	max-width: 100%;
	height: auto;
}

#social-icons svg {
	width: 30px;
	height: 30px;
}

#social-icons {
	display: flex;
	justify-content: center;
}

#social-icons div {
	padding-left: 10px;
	margin-top: 10px;
}

/* Animation Graphic styling */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

svg.berlin-illustration {
	max-width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
	header {
		text-align: unset;
		/* padding: 10px 10px 10px; */
		background-color: #ffffff;
		/* padding: 5px;
		margin: 2%; */
		border: 3px solid #fa9265;
		position: fixed;
		width: 100%;
		box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.5);
	}
	nav {
		width: auto;
		float: right;
		margin-top: 30px;
	}
	#hero span {
		display: block;
		text-align: center;
	}
	#hero {
		background-color: #fa9265;
		padding: 10px 10px;
		display: inline-block;
		width: 100%;
		padding-top: 125px;
	}
	h1 {
		margin: 5px;
		font-size: 2.75em;
		font-weight: 400;
	}
	h2 {
		margin: 8px;
		margin-top: 14px;
		text-align: center;
	}
	/* header {
		width: 96%;
		margin: 1%;
	} */
	li {
		font-size: 2em;
		font-weight: 300;
	}

	nav > ul {
		margin: 1em 0;
	}

	nav > ul > li > a {
		padding: 15px;
		text-transform: uppercase;
		font-weight: 700;
		display: inline-block;
	}

	.navtoggle li:not(:last-child) {
	  display: inline-block;
	}

	.navtoggle li:last-child {
  display: none;
}

	.logoWrapper {
		padding: 5px;
		display: inline-block;
	}

	.logoWrapper img {
		min-width: 641px;
		vertical-align: middle;
		text-align: left;
	}

	.container {
		padding: 0;
		text-align: center;
		max-width: 1200px;
	}

	p {
		display: inline-block;
	}
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.col-md-6 {
		width: 50%;
	}
	[class*='col-'] {
		float: left;
		padding: 10px;
	}
	.row::after {
  content: "";
  clear: both;
  display: table;
	}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
	header {
		text-align: unset;
		/* padding: 10px 10px 10px; */
		background-color: #ffffff;
		/* padding: 5px;
		margin: 2%; */
		border: 3px solid #fa9265;
		position: fixed;
		width: 100%;
		box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.5);
		}
		.row::after {
			content: "";
			clear: both;
			display: table;
		}

		.container {
  	max-width: 1200px;
  	margin-left: auto;
  	margin-right: auto;
		}

		.profileimg {
			max-width: 100%;
		}
		h1 {
			display: block;
		}
		#hero {
			background-color: #ffffff;
			padding: 10px 10px;
			display: inline-block;
			max-width: 1200px;
			padding-top: 125px;
		}
		.button {
			margin-right: 20px;
		}
		svg.berlin-illustration {
			max-width: 1200px;
		}

		nav > ul {
			margin: 1em 0;
		}

		.navtoggle li:not(:last-child) {
		  display: inline-block;
		}

		.navtoggle li:last-child {
  display: none;
}

		maxwidthWrapper {
			max-width: 1200px;
		}
	}
		/* padding: 20px 0 13px; */
