
* {
	box-sizing: border-box;
}

body {
background-color: #fff;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: 200;
line-height: 1.6;
}

h1 {
	font-size: 2.5em;
	font-weight: 400;
	line-height: 1.4;
}

h2 {
	font-size: 2.25em;
	font-weight: 300;
	line-height: 1.4;
}

h3 {
	font-size: 1.5em;
	font-weight: 200;
	line-height: 1.4;
}

h4 {
	line-height: 1.4;
}

img {
	width: 100%;
}

li {
	font-size: 1em;
	font-weight: 300;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #cc6540;
}

a:active {
	color: #000000;
}

.button {
	display: inline-block;
	background-color: #4E815F;
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #67CF8B;
	transition: 0.2s opacity;
	text-align: center;
	margin: 5px;
}

.button:hover {
	opacity: 0.8;
}

.emailbutton {
	display: table;
	background-color: #4E815F;
	color: #fff;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #67CF8B;
	transition: 0.2s opacity;
	margin-bottom: 10px;
	margin: auto;
}

.resumebutton {
	margin: auto;
	display: table;
	background-color: #4E815F;
	color: #fff;
	font-weight: 400;
	text-align: center;
	padding: 10px;
	border-radius: 3px;
	border: 2px solid #fff;
	transition: 0.2s opacity;
	margin-bottom: 15px;
}

header {
	background-color: #fff;
	padding: 10px;
	padding-left: 5px;
	border: 3px solid #4E815F;
	position: fixed;
	width: 100%;
	box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.5);
}

main {
	padding-top: 56px;
}

selector {
	margin: 0 auto;
}

#work {
	background-color: white;
}

#hero {
	background-color: #327DA7;
	color: #fff;
	padding: 10px;
	display: inline-block;
	width: 100%;
	padding-top: 20px;
}

#contact {
	background-color: white;
}

/* Layout styling */

.buttonWrapper {
	text-align: center;
}

.logoWrapper img {
	max-width: 150px;
	vertical-align: middle;
}

.headercontainer {
	text-align: inherit;
}

.inktankimg {
	padding-top: 25px;
}

nav > ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav > ul > li > a {
	padding: 5px;
	text-transform: uppercase;
	font-weight: 600;
}

nav > ul > li > a:hover {
	color: #cc6540;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li  {
  display: block;
	padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
	padding-right: 10px;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.row {
	margin: 25px 0px;
}

#hero h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
	margin: 10px;
}

.animation {
	width: 100%;
	max-width: 100%;
	height: auto;
}

#social-icons svg {
	width: 30px;
	height: 30px;
}

#social-icons {
	display: flex;
	justify-content: center;
}

#social-icons div {
	padding-left: 10px;
	margin-top: 10px;
}

/* Animation Graphic styling */

@keyframes color-change {
  0% {fill: #edc655; }
  50% {fill: #fcffad; }
  100% {fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px); }
  to {transform: translate(200px,50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

svg.berlin-illustration {
	max-width: 100%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
	header {
		text-align: unset;
		background-color: #fff;
		border: 3px solid #508562;
		position: fixed;
		width: 100%;
		box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.5);
	}

	nav {
		width: auto;
		text-align: center;
		font-size: .8rem;
	}

	#hero span {
		display: block;
		text-align: center;
	}

	#hero {
		background-color: #3482AD;
		color: #fff;
		padding: 10px;
		display: inline-block;
		width: 100%;
		padding-top: 85px;
	}

	main {
		padding-top: 100px;
	}

	h1 {
		margin: 5px;
		font-size: 2.75em;
		font-weight: 400;
	}

	h2 {
		margin: 8px;
		margin-top: 14px;
		text-align: center;
	}

	li {
		font-size: 2em;
		font-weight: 300;
	}

	nav > ul {
		margin: 0px;
	}

	nav > ul > li > a {
		padding: 15px;
		text-transform: uppercase;
		font-weight: 700;
		display: inline-block;
	}

	.navtoggle li:not(:last-child) {
	  display: inline-block;
	}

	.navtoggle li:last-child {
  display: none;
}

	.logoWrapper {
		padding: 5px;
		display: inline-block;
	}

	.logoWrapper img {
		min-width: 200px;
		vertical-align: middle;
		text-align: center;
	}

	.descWrapper {
		text-align: center;
	}

	.container {
		padding: 0;
		text-align: center;
		max-width: 1200px;
	}

	p {
		display: inline-block;
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.col-md-6 {
		width: 50%;
	}

	[class*='col-'] {
		float: left;
		padding: 10px;
	}

	.row::after {
  content: "";
  clear: both;
  display: table;
	}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
	header {
		text-align: unset;
		background-color: #fff;
		border: 3px solid #508562;
		position: fixed;
		width: 100%;
		box-shadow: 0px 4px 3px 0px rgba(50, 50, 50, 0.5);
		}

		img {
			max-width: 650px;
		}

		.row::after {
			content: "";
			clear: both;
			display: table;
		}

		main {
			margin: auto;
			max-width: 800px;
		}

		.container {
  	max-width: 800px;
  	margin: auto;
		}

		.profileimg {
			max-width: 800px;
		}
		h1 {
			display: block;
		}
		#hero {
			background-color: #3482AD;
			color: #fff;
			padding: 10px;
			display: inline-block;
			padding-top: 50px;
		}
		.button {
			margin-right: 20px;
		}
		svg.berlin-illustration {
			max-width: 800px;
		}

		nav > ul {
			margin: 0px;
		}

		nav {
			width: auto;
			font-size: .8rem;
			padding: 0px;
		}

		.navtoggle li:not(:last-child) {
		  display: inline-block;
		}

		.navtoggle li:last-child {
  	display: none;
		}

	.navtoggle {
		display: flex;
		justify-content: space-between;
	}

	.logoWrapper {
	padding: 5px;
	display: inline-block;
	}

	.logoWrapper img {
	max-width: 240px;
	vertical-align: middle;
	text-align: left;
	}

		p {
			margin: 16px;
		}
	}
